body, html {
 padding: 0;
 margin: 0;
 height: 100%;
 width: 400px;
 font-family: "Cairo";
 transition: 2s;
}

.top {
 position: fixed;
 top: 0%;
 left: 0%;
 background: #fff;
 width: 100%;
 padding: 10px;
 border-bottom: 1px solid #999;
 display: block;
 z-index: 3;
}

.icon {
 display: flex;
 position: relative;
 left: 0;
 
}
.wetube_logo {
  position: relative;
  top: 13px;
}
h3 {
 display: inline-block;
 transform: scaleY(1.7);
 letter-spacing: -1px;
}

.allVidoe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 0 0 0;
  
}

#all {
 display: none;
}

#loading {
 width: 100px;
 height: 50px;
 display: flex;
 margin: 50%;
 align-items: center;
 justify-content: center;
 text-align: center;
}



.vidoes {
 width: 300px;
 display: flex;
 justify-content: center;
 border-radius: 30px 30px 0 0;
}

.bottom {
 width: 100%;
 position: fixed;
 bottom: 0%;
 left: 0%;
 border-top: solid 0.7px #C8C8C8;
 display: flex;
 justify-content: space-around;
 padding: 25px 0 25px 0;
 background: #fff;
}

.material-icons {
 font-size: 30px;
 border-radius: 10px;
 width: 30px;
 transition: 1s;
 color: #000;
}

.controls {
  width: 280px;
  margin-bottom: 100px;
  background: #ECECEC;
  padding: 10px 10px 20px 10px;
  border-radius: 0 0 30px 30px;
  display: block;
}
.controlsItem {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
#home {
  background: #999;
}
.inputSearch {
	cursor: pointer;
  height: 30px;
  width: 0%;
  font-size: 15px;
  padding: 5px;
  border: none;
  border-radius: 50px;
  margin-top: 18px;
  transition: 2s;
  outline: none;
  display: none;
}
.search {
	cursor: pointer;
  display: flex;
}
.photo {
  border-radius: 30px 30px 0 0;
  width: 300px;
  height: 200px;
  margin-top: 0;
}
.range {
	cursor: pointer;
  margin: 0% auto;
  width: 100%;
}
.play {
  cursor: pointer;
  display: block;
}
.pause {
  cursor: pointer;
  display: none;
}
.dur_cur {
	display: flex;
	justify-content: space-between;
}
